@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');

html {
  width: 100%;
  height: 100%;
}

body {
  /* background-color: #72AED2; */
  /* color: white; */
  font-family: 'Roboto', serif;
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div#index-wrapper {
  flex-direction: column;
}

div#index-wrapper a {
  text-decoration: unset;
  font-size: 20px;
}

#login-form {
  border: 1px solid black;
  border-radius: 7px;
  padding: 5px 15px;
  display: flex;
  flex-direction: column;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}

.form-field > label {
  font-size: 12px;
}

#login-form input[type="submit"]{
  cursor: pointer;
}

ul#film-list {
  list-style: none;
}

ul#film-list li {
  margin: 5px 0px;
}

.film-link {
  font-size: 24px;
  text-decoration: unset;
  color: inherit;
}

#story-wrapper {
  flex-direction: column;
}

#story-wrapper p.plot {
  font-style: oblique;
  font-size: 15px;
  font-weight: bolder;
}

img#film-image {
  height: auto;
  width: 400px;
}